name: django-docker
services:
  db:
    image: postgres:17
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env

  django-web:
    build: .
    container_name: django-web
    ports:
      - "5000:8080"
    volumes:
      - ./static:/app/staticfiles
    environment:
      APPTYPE: "docker-compose"
    depends_on:
      - db
    env_file:
      - .env
   

  frontend-proxy:
    image: nginx:latest
    ports:
      - "8001:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./static:/static:ro
    depends_on:
      - django-web
volumes:
  postgres_data: