{% load tailwind_tags static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{% block title %}My Polls{% endblock %}</title>
  {% tailwind_css %} {% block extra_css %}

  {% endblock %}
</head>

<body class="bg-gray-900 text-gray-100 min-h-screen">
  <header class="bg-gray-800 shadow-lg mb-8">
    <div class="container mx-auto px-4 py-6">
      <h1>My Polls with Tailwind CSS</h1>
    </div>
  </header>
  <main class="container mx-auto px-4">
    {% block content %}{% endblock %}
  </main>
</body>

</html>